
:root{
    --underline: underline;
    --color-vue: #42b883;
    --cursor-pointer: pointer;
    --color-github: #171515 ;
    --color-twitter: #00acee;
    --color-whatsapp: #128c7e;
    --color-devto: #1f1f1f;
}
a.vue{
    color: var(--color-vue);  
}

a:hover{
    text-decoration: var(--underline);
    cursor: var(--cursor-pointer);
}

.caratula-subtitulo{
    font-size: 45px;
}

.name{
    font-size: 40px;
}

.tesista{
    background-color: var(--color-vue);
}

.volver-framework-progresivo{
    font-size: 40px;
}

.padre {
    display: flex;
    align-items: center;
 }

.edificio , .paquete-imagenes, .conclusiones {
    display: flex;
    align-items: center;
 }

.color-final{
    background-color: #34495E;
}

.bg-items{
    background-color: darkcyan;
}

.fa-whatsapp{
    color: var(--color-whatsapp);
}

.fa-twitter{
    color: var(--color-twitter);
}
